<nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Tours</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/tour">Tours</a>
                <a class="dropdown-item" href="/tour/hood-river">Hood River</a>
                <a class="dropdown-item" href="/tour/taipei">Taipei</a>
                <a class="dropdown-item" href="/tour/request-group-rate">Request Group Rate</a>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="/nursery-rhyme">Nursery Rhyme</a></li>
        <li class="nav-item"><a class="nav-link" href="/newsletter">Newsletter</a></li>
        <li class="nav-item"><a class="nav-link" href="/contest/vacation-photo">Photo Contest</a></li>
        <li class="nav-item"><a class="nav-link" href="/contest/vacation-photo-ex">Photo Contest Ex</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Playground</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/header">header</a>
                <a class="dropdown-item" href="/header-inspect">header-inspect</a>
                <a class="dropdown-item" href="/jquerytest">jquery-test</a>
                <a class="dropdown-item" href="/cookietest">cookie-test</a>
            </div>
        </li>
    </ul>
</nav>