<div class="navWidget">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/tours">Tours</a></li>
        <ul>
            <li><a href="/tours/hood-river">Hood River</a></li>
            <li><a href="/tours/taipei">Taipei</a></li>
            <li><a href="/tours/request-group-rate">Request Group Rate</a></li>
        </ul>
        <li><a href="/nursery-rhyme">Nursery Rhyme</a></li>
        <li><a href="/newsletter">Newsletter</a></li>
        <li><a href="/contest/vacation-photo">Photo Contest</a></li>
        <li><a href="/contest/vacation-photo-ex">Photo Contest Ex</a></li>
        <li>Playground</li>
        <ul>
            <li><a href="/header">header</a></li>
            <li><a href="/header-inspect">header-inspect</a></li>
            <li><a href="/jquerytest">jquery-test</a></li>
            <li><a href="/cookietest">cookie-test</a></li>
        </ul>
    </ul>
</div>