{{#section 'head'}}
    <meta name="robots" content="noindex">
{{/section}}

<h1 id="jqueryWorks">jQuery test page</h1>
<p>We are testing jquery</p>

{{#section 'jqueryContent'}}
<script>
    $(document).ready(function(){
        $('#jqueryWorks').html('jQuery works');
    });
</script>
{{/section}}