{{#if isLogin}}

<h1>登出</h1>
<form method="POST" action="/logout">
    <button type="submit">登出</button>
</form>
{{else}}

<h1>登入</h1>
<form method="POST" action="/login">
    <input type="text" name="name" />
    <button type="submit">登入</button>
</form>
{{/if}}
