<!doctype html>
<html>
<head>
	<title>TODO </title>

	{{#if showTests}}
		<link rel="stylesheet" href="/vendor/mocha.css">
	{{/if}}
	<script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body>
	{{{body}}}

	{{#if showTests}}
		<div id="mocha"></div>
		<script src="/vendor/mocha.js"></script>
		<script src="/vendor/chai.js"></script>
		<script>
			mochi.ui('tdd');
			let assert = chai.assert;
		</script>
		<script src="/qa/tests-global.js"></script>
		{{#if pageTestScript}}
			<script src="{{pageTestScript}}"></script>
		{{/if}}
	{{/if}}
</body>
</html>