<!doctype html>
<html>
<head>
	<title>Meadowlark Travel</title>

	{{> common/head}}
	{{{ _sections.head}}}
	{{> qa/head}}
</head>
<body>
	<header>{{> common/header}}</header>

	<div class="container">
		<div class="nav">{{> common/nav}}</div>
		<div>{{{body}}}</div>
	</div>

	<footer>{{> common/footer}}</footer>
	{{{ _sections.jqueryContent}}}
	{{> qa/body}}
</body>
</html>