<html>
<head>
    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Meadowlark</title>

    {{{_sections.head}}}
</head>

<body>
    <header><h1 class="display-1">Meadowlark</h1></header>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="auth">
                    {{> auth }}
                </div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/tours">Tours</a></li>
                    <ul>
                        <li><a href="/tours/hood-river">Hood River</a></li>
                        <li><a href="/tours/taipei">Taipei</a></li>
                        <li><a href="/tours/request-group-rate">Request Group Rate</a></li>
                    </ul>
                    <li><a href="/nursery-rhyme">Nursery Rhyme</a></li>
                    <li><a href="/newsletter">Newsletter</a></li>
                    <li><a href="/contest/vacation-photo">Photo Contest</a></li>
                    <li><a href="/contest/vacation-photo-ex">Photo Contest Ex</a></li>
                    <li>Playground</li>
                    <ul>
                        <li><a href="/header">header</a></li>
                        <li><a href="/header-inspect">header-inspect</a></li>
                        <li><a href="/jquerytest">jquery-test</a></li>
                        <li><a href="/cookietest">cookie-test</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </ul>
                <div>
                    <h3>Weather Widget</h3>
                    {{> weather}}
                </div>
            </div>
            <div class="col-8">
                {{{body}}}
            </div>
            
        </div>
    </div>

    <footer style="text-align: center">Maedowlark &copy; 2018-2019</footer>
    {{{ _sections.jqueryContent}}}

    {{#if showTests}}
        <div id="mocha"></div>
        <script src="/vendor/mocha.js"></script>
        <script src="/vendor/chai.js"></script>
        <script>
            mocha.ui('tdd');
            let assert = chai.assert;
        </script>
        <script src="/qa/tests-global.js"></script>
        {{#if pageTestScript}}
            <script src="{{pageTestScript}}"></script>
        {{/if}}
        <script>mocha.run();</script>
    {{/if}}
</body>
</html>