<html>
<head>
     <title>Meadowlark</title>
    {{> common/header }}
    {{{_sections.head}}}
    {{> qa/header }}
</head>

<body>
    {{> common/top}}

    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-3 col-lg-2">
                <div class="auth">{{> auth }}</div>
                <hr />                
                <div class="nav">{{> common/nav }}</div>
                <hr />
                <div>{{> weather}}</div>
            </div>
            <div class="col col-md-9 col-md-10">
                {{{body}}}
            </div>
        </div>
    </div>

    {{> common/footer }}
    {{{ _sections.jqueryContent}}}
    {{> qa/body}}
</body>
</html>