<!doctype html>
<html>
<head>
	<title>Meadowlark Travel</title>

	{{> common/head}}
</head>
<body>
	<header>{{> common/header}}</header>

	<div class="container">
		{{> common/nav-plain}}
		<div>{{{body}}}</div>
	</div>

	<footer>{{> common/footer}}</footer>

	{{> common/appendix}}
</body>
</html>